<div>
  <h1>Welcome to the site</h1>

  <header>
    <nav class="navbar navbar-expand-md bg-secondary navbar-dark">
      
      <div class="container">
      <a class="navbar-brand px-3" href="#page-hero">
        <i class="pe-2 fa fa-yelp" aria-hidden="true"></i>
        Mahvellous
      </a>

      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#page-hero">Home</a>
        <a class="nav-item nav-link" href="#page-multicolumn">Columns</a>
        <a class="nav-item nav-link" href="#page-footer">Footer</a>
        <a class="nav-item nav-link" href="#page-cards">Cards</a>
    </div>
  </div>
    </nav>
  </header>
</div>