<!-- Header -->
<header>
   <nav class="navbar navbar-expand-md bg-secondary navbar-dark">
      <!--Brand -->
      <a class="text-warning navbar-brand px-3 fs-1 fw-bold"
         href="#">
         <i class="text-danger pe-2 fa fa-fire"
            aria-hidden="true"></i>
         Mahvellous</a>
      <!-- Toggler -->
      <button class="navbar-toggler me-4"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#smTogglerNav"
              aria-controls="smTogglerNav"
              aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <!--Menu -->
      <section class="collapse navbar-collapse pe-5"
               id="smTogglerNav">
         <div class="navbar-nav ms-auto">
            <a class="nav-item nav-link"
               href="#page-hero">Home</a>
            <a class="nav-item nav-link"
               href="#page-multicolumn">Columns</a>
            <a class="nav-item nav-link"
               href="#page-footer">Footer</a>
            <a class="nav-item nav-link"
               href="#page-cards">Cards</a>
         </div>
      </section>
   </nav>
</header>

<!-- Hero -->
<section class="layout-hero py-5 text-center d-flex align-items-center">
   <div class="container">
      <h1>Section Title</h1>
      <p>
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, distinctio
         impedit. Rerum dolor incidunt harum quaerat hic perspiciatis facere est.
      </p>
   </div>
</section>

<!-- Footer -->
<footer class="site-footer bg-secondary d-flex justify-content-center">
   <section class="layout-social py-5">
      <a class="text-light layout-icon px-2 fs-1"
         href="#"><i class="fa fa-facebook-official"></i></a>
      <a class="text-light layout-icon px-2 fs-1"
         href="#"><i class="fa fa-instagram"></i></a>
      <a class="text-light layout-icon px-2 fs-1"
         href="#"><i class="fa fa-twitter-square"></i></a>
      <a class="text-light layout-icon px-2 fs-1"
         href="#"><i class="fa fa-envelope"></i></a>
      <a class="text-light layout-icon px-2 fs-1"
         href="#"><i class="fa fa-phone-square"></i></a>
      <a class="text-light layout-icon px-2 fs-1"
         href="#"><i class="fa fa-"></i></a>
   </section>
</footer>